.services-body-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    width: 100%;
}

.products-collection {
  display: flex;
  width: 100%;
  padding: 47px 65px;
  flex-wrap: wrap;
  gap: 81px 0px;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
}

@media (max-width: 800px) {
  .products-collection {
    padding: 47px 11px;
    gap: 10px 0px;
  }
}

@media screen and (max-width: 400px) {
  .products-collection {
    gap: 56px 0px;
    padding: 8px;
  }
}
  
}
  

