/* ==================================HeroBlogs======================================= */

.hb-container {
  display: flex;
  gap: 36px;
  padding: 20px;
  align-items: center;
  border-radius: 16px;
  background: #fff;

  /* Features Box */
  box-shadow: 0px 4px 4px 0px rgba(113, 136, 225, 0.1),
    3px 0px 4px 0px rgba(113, 136, 225, 0.1);
  height: auto;
  width: 100%;
}

.hb-image {
  flex: 1;
  background-image: url("/images/solar-panel.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08),
    0px 5px 15px 0px rgba(0, 0, 0, 0.12);
  height: 344px;
  width: 100%;
}

.hb-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hb-group {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 47px;
  background: var(--light);
  align-self: flex-start;
}

.hb-group h2 {
  color: #fff;
}

.hb-panel-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.hb-panel-content p {
  color: #8b857f;

  /* Heading/Small-20px */
}

.hb-panel-content h1 {
  color: #272422;

  /* Heading/Large-36px */
}

@media screen and (max-width: 800px) {
  .hb-container {
    flex-direction: column;
    gap: 36px;

  }

  .hb-image {
    height: 450px;
    flex: none;
  }
  .hb-content {
    flex: none;
  }
}
  
@media screen and (max-width: 400px) {

  .hb-image {
    height: 220px;
  }
}
  



/*==================================== collections ===========================================================*/

.collection-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
}

.blog-groups {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.blog-groups p {
  flex: 0 0 auto;
  border-radius: 100px;

  padding: 7px 8px;
  color: #121213;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: 1px solid #e7e8f0;
  background: #f0f2f7;
}

.blog-groups .active {
  border: none;
  background: #b190db;
  color: #fff;
}

.blog-collections {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px 0px;
}


@media screen and (max-width: 800px) {
  .collection-container {
    gap: 30px;
  }
}
  
@media screen and (max-width: 400px) {
  .collection-container {
    gap: 16px
  }
  .blog-collections {
    gap: 16px 0px;
  }
}