.overview-container {
  display: flex;
  padding: 44px 34px 30px 49px;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
  gap: 11px;
  align-items: center;
}

.overview-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.oc-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.oc-header .blog-group {
  color: #fff;
}


.overview-content h1 {
  color: #272422;

  /* Heading/XLarge-48px */
}

.overview-pic {
  flex: 1;
  height: 284px;
  background-image: url("/public/images/overview.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .overview-container {
    padding: 30px 34px;
    gap: 11px;
    flex-direction: column-reverse;  
  }

  .overview-pic {
    flex: none;
    height: 300px;
    width: 100%;
  }
  .overview-content{
    flex: none;
  }

  .overview-content h1 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.96px;
  }
  
}
  


/* =============================ArticleContent =========================================*/

.a-c-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: 771px;
}

.ac-slideshow {
  height: 438px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background-image: url("/public//images/article-slide.jpeg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-container .category {
  display: none;
}

@media screen and (max-width: 800px){
  .a-c-container{
    gap: 20px;


  }

  .ac-slideshow{
    height: 400px;
  }
}

@media screen and (max-width: 400px){
  

  .ac-slideshow{
    height: 190px;
  }
}
  

