.navbar-container {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 47px;
  background: var(--dark);
  width: 100%;
}



.links ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

