.navbar-container {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 47px;
  background: var(--dark);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  width: 27px;
  height: 24px;
}

.logo h1 {
  color: #fff;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 20.045px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.307px;
}

.links ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

.contact-btn {
  padding: 8px 30px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  background: var(--normal);
  border: none;

  color: #fff;

  /* Heading/XSmall-16 */
  font-family: var(--heading-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;

  cursor: pointer;
}
