/* icon + paragraph card */

.card-container {
  flex-basis: calc(33%); 
  flex-shrink: 0;


  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.card-container img {
  width: 40px;
  height: 36px;
}

.card-container h1 {
  color: var(--dark);
  /* Heading/Medium-24px */
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.card-container p {
  color: var(--grey);

  /* Text/Medium-16 */
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.75px;
}

/* blog-panel */

.blog-panel-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
  flex: 1 0 0;
}

.blog-panel-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.blog-panel-image {
  background-image: url("/images/solar-panel.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08),
    0px 5px 15px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.blog-group {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 47px;
  background: var(--light);
  align-self: flex-start;
}

.blog-group h2 {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

.blog-panel-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.blog-panel-content h1 {
  color: var(--dark);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  text-align: left;
}

.blog-panel-content p {
  color: #8b857f;

  /* Heading/XSmall-16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.read-more {
  color: #8b857f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  align-self: flex-end;
}
