/* =======================================================icon + paragraph card============================== */

.card-container {
  flex-basis: calc(33%);
  flex-shrink: 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.card-container img {
  width: 40px;
  height: 36px;
}

.card-container h1 {
  line-height: 140%; /* 33.6px */
}

.card-container p {
  line-height: 150%; /* 24px */
}

@media screen and (max-width: 850px) {
  .card-container {
    flex-basis: calc(50%);
  }
}

@media screen and (max-width: 590px) {
  .card-container {
    flex-basis: calc(100%);
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .card-container h1 {
    line-height: normal;
  }
  .card-container p {
    line-height: normal;
    letter-spacing: -0.75px;
  }
}

@media screen and (max-width: 400px) {
  .card-container img {
    width: 26px;
    height: 24px;
  }
}

/* blog-panel */

.blog-panel-container {
  flex-basis: calc(33% - 30px);
  margin: 15px;
  flex-shrink: 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.blog-panel-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.blog-panel-image {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08),
    0px 5px 15px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.blog-group {
  display: flex;
  padding: 4px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 99px;
  background: var(--light);
  align-self: flex-start;
}

.blog-group h2 {
  color: #fff;
}

.blog-panel-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.blog-panel-content h1 {
  text-align: left;
}

.blog-panel-content p {
  color: #8b857f;
}

.read-more {
  color: #8b857f;
  align-self: flex-end;
}

@media screen and (max-width: 800px) {
  .blog-panel-container {
    flex-basis: calc(50% - 30px);
    margin: 15px;
  }

  .blog-panel-container:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .blog-panel-container {
    flex-basis: calc(100% - 16px);
    margin: 8px;
  }
}

/* ==========================================PricingCard================================== */

.pc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 30px;
  flex-basis: calc(33% - 20px);
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #eff0f6;
  background: #fff;
  width: 100%;
}

.pc-container h1 {
  text-align: center;
  /* Heading/Medium-24px */
}

.pc-container p {
  text-align: center;
}

.pc-container a {
  border-radius: 20px;
  border: 1px solid var(--normal);
  padding: 8px 30px;
  color: var(--normal);
  background: #faf2f3;
  text-decoration: none;

  font-weight: 500;

  cursor: pointer;
}

.pc-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.pc-details-constant ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pc-details-constant ul li {
  display: inline-flex;
  gap: 5px;
  width: 100%;
  padding: 7px 9.813px 7px 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eff0f6;
  background: #f6dcdf;
  color: var(--normal);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pc-details-unique {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pc-details-unique p {
  color: var(--text-grey, #7a7d9c);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  align-self: flex-start;
}

.pc-details-unique ul {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pc-details-unique li {
  display: flex;
  align-items: center;
  color: var(--text-dark-blue, #1b152b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pc-details-unique li::before {
  content: "\2022"; /* Unicode bullet character or use any other character you prefer */
  color: var(--normal); /* Change the bullet color to your desired color */
  font-size: 24px; /* Change the bullet size to your desired size */
  margin-right: 5px; /* Adjust the margin for spacing between bullet and text */
}

@media screen and (max-width: 970px) {
  .pc-container {
    flex-basis: calc(50% - 20px);
    margin: 10px;
    padding: 30px 30px;
  }
}

@media screen and (max-width: 800px) {
  .pc-container {
    padding: 30px 30px;
    gap: 8px;
  }
}

@media screen and (max-width: 590px) {
  .pc-container {
    flex-basis: calc(100% - 16px);
    margin: 8px;
    gap: 16px;
  }
  .pc-details-constant img {
    width: 8px;
    height: 8px;
  }
}
