/* icon + paragraph card */

.card-container {
  flex-basis: calc(33%);
  flex-shrink: 0;

  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.card-container img {
  width: 40px;
  height: 36px;
}

.card-container h1 {
  color: var(--dark);
  /* Heading/Medium-24px */
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.card-container p {
  color: var(--grey);

  /* Text/Medium-16 */
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.75px;
}

/* blog-panel */

.blog-panel-container {
  flex-basis: calc(33% - 30px);
  margin: 15px;
  flex-shrink: 0;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.blog-panel-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.blog-panel-image {
  background-image: url("/images/solar-panel.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08),
    0px 5px 15px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.blog-group {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 47px;
  background: var(--light);
  align-self: flex-start;
}

.blog-group h2 {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

.blog-panel-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.blog-panel-content h1 {
  color: var(--dark);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  text-align: left;
}

.blog-panel-content p {
  color: #8b857f;

  /* Heading/XSmall-16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.read-more {
  color: #8b857f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  align-self: flex-end;
}

/* PricingCard */

.pc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 60px;
  flex-basis: calc(33% - 20px);
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.pc-container h2 {
  color: var(--text-dark-blue, #1b152b);
  text-align: center;

  /* Heading/Medium-24px */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pc-container p {
  color: var(--text-dark-blue, #1b152b);
  text-align: center;

  /* Heading/XLarge-48px */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.827px;
}

.pc-container button {
  border-radius: 20px;
  border: 1px solid #7f56d9;
  padding: 8px 30px;
  color: #7f56d9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  cursor: pointer;
}

.pc-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pc-details-constant ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pc-details-constant ul li {
  display: inline-flex;
  padding: 7px 9.813px 7px 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eff0f6;
  background: #f6f1fd;
  color: var(--primary-purple-normal, #7f56d9);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pc-details-unique {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pc-details-unique p {
  color: var(--text-grey, #7a7d9c);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  align-self: flex-start;
}

.pc-details-unique ul {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pc-details-unique li {
  display: flex;
  align-items: center;
  color: var(--text-dark-blue, #1b152b);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pc-details-unique li::before {
  content: "\2022"; /* Unicode bullet character or use any other character you prefer */
  color: #7f56d9; /* Change the bullet color to your desired color */
  font-size: 24px; /* Change the bullet size to your desired size */
  margin-right: 5px; /* Adjust the margin for spacing between bullet and text */
}
