/* Hero Component */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  width: 100%;
}

.hero-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.hero-header h1 {
  color: var(--dark);
  text-align: center;
}

.hero-header p {
  color: var(--grey);
  text-align: center;
}

.hero-banner {
  background-image: url("/images/herobanner.jpg");
  height: 388px;
  background-size: cover;
  width: 100%;
  border-radius: 66px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 16px 48px;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.stat {
  flex-basis: calc(33%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat h1 {
  font-weight: 600;
  color: var(--normal);
}
.stat p {
  color: var(--normal);
}

@media screen and (max-width: 800px) {
  .stats {
    width: 100%;
    gap: 5px;
    padding: 16px 24px;
  }
  .stat h1 {
    font-size: 32px !important;
    letter-spacing: -0.96px;
    font-weight: 400 !important;
  }
  .stat p {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 400px) {
  .hero-container {
    gap: 16px;
  }
  .home-hero-p {
    font-size: 12px !important;
  }
  .hero-header {
    gap: 8px;
  }
  .hero-banner {
    height: 200px;
  }

  .stats {
    flex-direction: column;
    gap: 16px;
  }
  .stat h1 {
    font-size: 20px !important;
    font-weight: 400 !important;
    letter-spacing: -0.96px;
  }
  .stat p {
    font-size: 16px !important;
  }
}

/* services component */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 47px 65px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #eff0f6;
}

.card-nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .services-cards {
    padding: 47px 38px;
  }
}

@media screen and (max-width: 400px) {
  .services-container {
    gap: 24px;
  }
  .card-nav-links .contact-btn {
    display: none;
  }

  .services-cards {
    padding: 8px;
    flex-direction: column;
    gap: 56px;
  }
}
/* Mission Component */

.mission-container {
  padding: 43px 20px;
  display: flex;
  gap: 30px;
  border-radius: 32px;
  border: 1px solid #eff0f6;
  background: #fff;
  width: 100%;
}

.mission-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 38px;
}

.mission-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.mission-text p {
  line-height: 150%; /* 24px */
}

.mission-image {
  flex: 1;
  background-image: url("/images/mission.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 32px;
  max-height: 450px;
}

@media screen and (max-width: 800px) {
  .mission-container {
    padding: 43px 20px;
    gap: 20px;
    flex-direction: column;
  }

  .mission-content {
    gap: 20px;
    float: none;
  }
  .mission-image {
    height: 450px;
    flex: none;
  }
}

@media screen and (max-width: 400px) {
  .mission-container {
    padding: 43px 20px;
    gap: 20px;
    flex-direction: column-reverse;
    gap: 8px;
  }
  .mission-content {
    gap: 8px;
  }

  .mission-text h1 {
    font-size: 20px;
  }

  .mission-text p {
    font-size: 12px;

    letter-spacing: -0.5px;
  }
  .mission-image {
    max-height: 300px;
  }
}

/* Products Component*/

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.products-main {
  padding: 36px 20px;
  display: flex;
  gap: 40px;
  border-radius: 32px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.products-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.products-content-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.products-content-text h1 {
  color: var(--light);
}

.products-image {
  flex: 1;
  background-image: url("/images/solar-light.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .products-main {
    padding: 36px 20px;
    gap: 20px;
    flex-direction: column-reverse;
  }

  .products-content {
    gap: 20px;
    flex: none;
  }
  .products-image {
    height: 450px;
    flex: none;
  }
}

@media screen and (max-width: 400px) {
  .products-container {
    gap: 24px;
  }
  .products-main {
    padding: 8px;
    gap: 20px;
    flex-direction: column-reverse;
    gap: 8px;
  }
  .products-content {
    gap: 8px;
  }

  .products-content-text h1 {
    font-size: 20px;
  }

  .products-content-text p {
    font-size: 12px;
    letter-spacing: -0.5px;
  }
  .products-image {
    max-height: 300px;
  }
  .products-content-text {
    gap: 8px;
  }
}

/* Testimonials */

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-content {
  border-radius: 32px;
  border: 1px solid #eff0f6;
  background: #fff;
  display: flex;
  gap: 46px;
  padding: 66px 37.5px 46px 39.5px;
}

.testimonials-image {
  flex: 1;
  background-image: url("/images/client-image.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 16px;
  height: auto;
}

.testimonial-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-self: center;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-h1 {
  font-size: 20px !important;
}

@media screen and (max-width: 800px) {
  .testimonials-content {
    padding: 26px 38px;
    gap: 46px;
    flex-direction: column;
  }

  .testimonials-image {
    height: 335px;
    flex: none;
  }
  .testimonial-info {
    flex: none;
  }
}

@media screen and (max-width: 400px) {
  .testimonials-container {
    gap: 16px;
  }
  .testimonials-content {
    padding: 8px;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
  }
  .testimonial-info {
    flex: none;
  }

  .testimonial-text h1 {
    font-size: 16px !important;
    letter-spacing: -0.96px;
  }

  .testimonials-image {
    max-height: 300px;
  }
  .testimonial-info {
    gap: 18px;
  }
}

/* BlogSection Component */

.blogs-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.blogs-section-content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .blogs-section-content {
    gap: 30px 0
  }

  
}





@media screen and (max-width: 400px) {
  .blogs-section-container {
    gap: 16px;
  }
  .blogs-section-content {
    gap: 8px;
  }
}


