/* Hero Component */

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.hero-header h1 {
  color: var(--dark);
  text-align: center;
}

.hero-header p {
  color: var(--grey);
  text-align: center;
}

.hero-banner {
  background-image: url("/images/herobanner.jpg");
  height: 388px;
  background-size: cover;
  width: 100%;
  border-radius: 66px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 16px 48px;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat h1{
  font-weight: 600;
  color: var(--normal);
}
.stat p {
  color: var(--normal);
}


/* services component */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  padding: 47px 65px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #eff0f6;
}

.card-nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

/* Mission Component */

.mission-container {
  padding: 43px 20px;
  display: flex;
  gap: 30px;
  border-radius: 32px;
  border: 1px solid #eff0f6;
  background: #fff;
  width: 100%;
}

.mission-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 38px;
}

.mission-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}



.mission-text p {
  line-height: 150%; /* 24px */
}

.mission-image {
  flex: 1;
  background-image: url("/images/mission.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 32px;
  max-height: 450px;
}

/* Products Component*/

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.products-main {
  padding: 36px 20px;
  display: flex;
  gap: 40px;
  border-radius: 32px;
  border: 1px solid #eff0f6;
  background: #fff;
}

.products-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.products-content-text {

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.products-content-text h1 {
  color: var(--light);
}


.products-nav-btns {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.nav-btn {
  display: flex;
  height: 55.11px;
  padding: 17.23px 19.23px 17.23px 15.23px;
  align-items: center;
  border-radius: 999px;
  border: 1px solid #7f56d9;
  opacity: 0.801;
  cursor: pointer;
  background: var(--normal);
}

.left {
  background: #fff;
}

.products-image {
  flex: 1;
  background-image: url("/images/solar-light.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  height: auto;
}

/* Testimonials */

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.testimonials-content {
  border-radius: 32px;
  border: 1px solid #eff0f6;
  background: #fff;
  display: flex;
  gap: 46px;
  padding: 66px 37.5px 46px 39.5px;
}

.testimonials-image {
  flex: 1;
  background-image: url("/images/client-image.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 16px;
  height: auto;
}

.testimonial-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-self: center;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.small-h1 {
  font-size: 20px !important;
}

/* BlogSection Component */

.blogs-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.blogs-section-container h1 {
  color: var(--dark);
  text-align: center;

  /* Heading/XLarge-48px */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.827px;
}

.blogs-section-content {
  display: flex;
  gap: 15px;
}
