/* ContactBtn */
.contact-btn {
  padding: 8px 30px;
  background: var(--normal);
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  text-decoration: none;
  cursor: pointer;
}

/* CategoryTag */

.category {
  padding: 0px 10px;
  color: var(--normal);
  border-radius: 22px;
  border: 1px solid #eee2fe;
  background: linear-gradient(
    90deg,
    #e9d8ff 0%,
    rgba(255, 255, 255, 0) 100%,
    #29252e 100%
  );
  display: inline-block;
  color: var(--grey);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  letter-spacing: -0.75px;
}

/* Arrow Navs */

.arrow-nav-btns {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.nav-btn {
  display: flex;
  height: 55.11px;
  padding: 17.23px 19.23px 17.23px 15.23px;
  align-items: center;
  border-radius: 999px;
  border: 1px solid #7f56d9;
  opacity: 0.801;
  cursor: pointer;
  background: var(--normal);
}

.left {
  background: #fff;
}

/* View All */

.view-all {
  text-decoration: none;
  color: var(--dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.view-links-p {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.rotated-image{
  transform: rotate(90deg);
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  width: 27px;
  height: 24px;
}

.logo h1 {
  color: #fff;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 20.045px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.307px;
}

/* Values */
.components-header-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 800px;
}

.components-header-container h1 {
  color: var(--dark);
  text-align: center;

  /* Heading/XLarge-48px */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.827px;
}

.components-header-container p {
  color: var(--grey);
  text-align: center;

  /* Text/Medium-16 */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}
.components-header-container a {
  text-decoration: none;
  color: var(--normal);
  font-weight: 600;
}

/* pageHeader */
.page-header-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  max-width: 930px;
}

.page-header-container h1 {
  color: var(--dark);
  text-align: center;

  /* Heading/XLarge-48px */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.827px;
}

.page-header-container p {
  color: var(--grey);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* ContactInfo */

.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: var(--dark);

  /* Heading/Small-20px */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.contact-info-container img {
  width: 45.526px;
  height: 38px;
}

.contact-info-container h2{
  font-size: 20px;
  color: var(--dark);
  font-style: normal;
  font-weight: 400;

}

.contact-info-container a {
  font-size: 16px;
  color: var(--grey);
  text-decoration: none;
}
