.app-container {
  align-items: center;
  height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar{
    display: none;
  }

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background: var(--white);
  padding: 15px 67px 100px 67px;
  align-items: center;
  overflow: hidden;
}



@media screen and (max-width: 800px) {
  .page {
    padding: 15px 38px 80px 38px;
    gap: 80px;

  }
}

@media screen and (max-width: 400px) {
  .page {
    padding: 32px 8px 59px 8px;
    gap: 59px;
    
  }
}