:root {
  --white: #F5F7F9;
  --light: #c7a0f9;
  --normal: #7f56d9;
  --dark: #1b152b;
  --grey: #7a7d9c;
  --heading-font: Inter;
  --body-font: Manrope;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


