:root {
  --white: #f2f5f7;
  --light: #d1606b;
  --normal: #b4304c;
  --dark: #42100c;
  --grey: #948182;
  --heading-font: Inter;
  --body-font: Manrope;
}

/* ===================================Base================================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--dark);
}
p {
  color: var(--grey);
}

/*================================= Resusable Css classes==================== */

/* Headings */

.heading-XXLarge {
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.827px;
}

.heading-XLarge {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3.827px;
}

.heading-Large {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.heading-Medium {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.heading-Small {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.heading-XSmall {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

/* text */

.text-large {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.text-Medium {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

.text-Small {
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 800px) {
  .heading-XXLarge {
    font-size: 48px;
  }
}

@media screen and (max-width: 400px) {
  .heading-XXLarge {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
  }
}
