.footer-container {
  background-image: url("/images/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 80px 67px 54px 67px;
  overflow: hidden;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.footer-links-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;;
  align-items: center;
  border-top: 1px solid #ffffff7f; 
  border-bottom: 1px solid #ffffff7f; 
  border-left: none;
  border-right: none;
  width: 100%;
}

.footer-links .links ul {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.footer-links {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.social-links a {
  color: rgba(255, 255, 255, 0.8);
}

.social-icons {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.link-icon {
  width: 16px;
  height: 16px;
} 

.tw-icon{
    width: 20px;
}

@media screen and (max-width: 590px) {

 .footer-links-section{
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
 }
 .link-contact-us{
  display: none;
 }

 .social-links{
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
 }

}

@media screen  and (max-width: 400px){
  .links ul {
    flex-direction: column;
    align-items: flex-start;
  }

  
}



  
  

