.footer-container {
  background-image: url("/images/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 265px;
  width: calc(100% + 134px);
  margin: 0 -67px;
  padding: 80px 67px 54px 67px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-links-section {
  display: flex;
  justify-content: space-between;
  height: 84px;
  align-items: center;
  border-top: 1px solid #ffffff7f; 
  border-bottom: 1px solid #ffffff7f; 
  border-left: none;
  border-right: none;
}

.footer-links .links ul {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.footer-links {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.social-links a {
  color: rgba(255, 255, 255, 0.8);
}

.social-icons {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.link-icon {
  width: 16px;
  height: 16px;
} 

.tw-icon{
    width: 20px;
}
